<div class="d-md-block row" id="cont-links">
    <nav class="bd-links">
        <div class="bd-toc-item">
            <a class="bd-toc-link active">Calzado</a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link">Vestimenta</a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link">Lanzamientos</a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link">Próximamente</a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link">Outlet</a>
        </div>
    </nav>
</div>